/.bash_history
/.composer
/.idea
/composer.lock
/coverage.xml
/documentation.css
/etc/php-coveralls
/etc/**/vendor
/etc/**/composer.lock
/etc/phpunit/.phpunit.result.cache
/srv
/tmp
/var
/vendor

/.coveralls.yml
/.docker
/.env
/phpcs.xml.dist
/phpstan.neon.dist
