<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="opt/doc/bootstrap.php"
>
    <php>
        <!-- Never raise errors for incompatible changes, as they will be resolved in the next major version -->
        <env name="WPDI_ERROR_FORWARD_INCOMPATIBLE" value="0" />
        <!-- Always raise errors when a new API is not used internally. -->
        <env name="WPDI_ERROR_DEPRECATED" value="1" />
    </php>

    <testsuites>
        <testsuite name="default">
            <directory>opt/doc</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>lib/</directory>
            <exclude>
                <directory>lib/Compat/Symfony3</directory>
                <directory>lib/Compat/Symfony4</directory>
                <file>lib/Helper/Versions.php</file> <!-- CI covers that -->
                <file>lib/Yaml.php</file> <!-- CI covers that -->
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="var/phpunit"/>
    </logging>
</phpunit>
