<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="lib/Test/bootstrap.php"
>
    <testsuites>
        <testsuite name="default">
            <directory>lib/Test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>lib/</directory>
            <exclude>
                <directory>lib/Test</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Pretzlaw\PHPUnit\DocGen\TestCaseListener">
            <arguments>
                <string>var/documentation.md</string>
            </arguments>
        </listener>
        <listener class="Pretzlaw\PHPUnit\DocGen\TestCaseListener">
            <arguments>
                <string>var/documentation.html</string>
                <string>rmp-up/wp-di - Dependency injection magic for WordPress</string>
                <string>etc/documentation.css</string>
            </arguments>
        </listener>
    </listeners>

    <logging>
        <log type="coverage-html" target="var/phpunit"/>
    </logging>
</phpunit>
