parameters:
    level: 7
    autoload_directories:
        - ./lib
    autoload_files:
        - ./lib/Test/bootstrap.php
    excludes_analyse:
        - ./lib/Test
    ignoreErrors:
        # __call is not considered as a callback, so we supress those warnings
        - '#Parameter \#\d+.*of function.*expects callable.*LazyService.*given\.$#'
        - '#Parameter \#\d+.*of function.*expects callable.*LazyPimple.*given\.$#'