parameters:
    level: 7
    bootstrapFiles:
        - ./opt/doc/bootstrap.php
    excludes_analyse:
        - ./lib/Compat
    reportUnmatchedIgnoredErrors: false
    # From 0.11 to 0.12 lead to some new hints
    # which are suppressed until completely fixed
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # __call is not considered as a callback, so we supress those warnings
        - '#Parameter \#\d+.*of function.*expects callable.*LazyPimple.*given\.$#'
        # Again some supression of 0.12.x incompat here
        - '# has no typehint specified\.$#'
        - '# has no return typehint specified\.$#'
        - '# with no typehint specified\.$#'
        - '#Cannot assign offset \(int\|string\) to Pimple\\Container\.$#'